# ignore common db dump files
db-backups/*.mysql
db-backups/*.sql
db-backups/*.gz
db-backups/*.xz
db-backups/*.zip

# ignore core drupal directories
docroot/core/*
docroot/vendor/*

# ignore drupal files with sensitive info
docroot/sites/default/settings.local.php
docroot/sites/default/settings.php
